.backgroundPLUS {
  width: 100%;
  height: 70vh;
  background-color: #bebcb9;
  position: absolute;
  left: 0;
  margin-top: 165%;
}
.img_1 img {
  height: 70vh;
  right: 5%;
  position: absolute;
}

.img2 img {
  height: 12vh;
  left: 8%;
  top: 30%;
  position: absolute;
}
.pPlus {
  font-family: 'Courier New', monospace;
  left: 8%;
  color: black;
  font-size: 20px;
  top: 50%;
  text-align: left;
  position: absolute;
  width: 40%;
}
.btnPlus {
  position: absolute;
  left: 8%;
  top: 70%;
  color: #0072ce;
  padding: 6px 12px;
  height: 50px;

  border-radius: 30px;

  font-size: 16px;

  transition-duration: 0.4s;
  cursor: pointer;

  background-color: #e9e6e1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
.btnPlus:hover {
  border: 3px #0072ce;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
