.divPs5 {
  margin-left: 35%;
  margin-top: 5%;
  align-items: center;
}
.hPs5 {
  font-family: 'Courier New', monospace;
  font-size: 45px;
  margin-top: -1%;
  color: #1f1f1f;
}
.pPs5 {
  font-family: 'Courier New', monospace;
  margin-left: 12%;
  color: #0072ce;
  font-size: 25px;
}
.h2Ps5 {
  font-family: 'Courier New', monospace;
  margin-left: -5%;
  color: #636363;
  font-size: 25px;
  margin-top: -3%;
}
