header{
    height:50px;
    border: 1px solid EAF4F4;
    margin-bottom: 10px;   
    display: flex;
    justify-content:space-between;
    align-content: center;

}
.titulo{
    font-size: 30px;
    padding: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.boton-reiniciar{
    position:absolute;
    left: 12px;
    top:58px;
    background-color: #CCE3DE;
    
    color: black;
    padding: 15px 32px;
    text-align: center;
    
   
    font-size: 16px;
    
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;

}